Do nearly the same thing as last week. Check last week's notebook if do not understand.

In [22]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
data = pd.read_csv('credit-a.csv', header=None)

In [10]:
train, test = train_test_split(data, test_size=0.2)

In [15]:
x_train = train.iloc[:, 1:-1]
y_train = train.iloc[:, -1]
x_test = test.iloc[:, 1:-1]
y_test = test.iloc[:, -1]

In [13]:
Classification_model = BernoulliNB()
Classification_model.fit(x_train, y_train)

BernoulliNB()

In [14]:
Classification_model.score(x_train, y_train)

0.8390804597701149

In [16]:
Classification_model.score(x_test, y_test)

0.8625954198473282

In [17]:
import tensorflow as tf

In [18]:
(train_image, train_label), (test_image, test_label) = tf.keras.datasets.mnist.load_data()

In [19]:
train_image_flat = train_image.reshape((60000,28*28))
test_image_flat = test_image.reshape((10000,28*28))

In [20]:
image_model = BernoulliNB()
image_model.fit(train_image_flat, train_label)

BernoulliNB()

In [21]:
image_model.score(train_image_flat,train_label)

0.83125

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [26]:
data3=[]
with open('nlp_dataset.txt', 'r', encoding='latin1') as fin:
    for line in fin:
        text, label = line.strip().rsplit("@", 1)
        data3.append([text,label])

In [27]:
df = pd.DataFrame(data3, columns=['text','label'])

In [28]:
df

                                                   text     label
0     According to Gran , the company has no plans t...   neutral
1     For the last quarter of 2010 , Componenta 's n...  positive
2     In the third quarter of 2010 , net sales incre...  positive
3     Operating profit rose to EUR 13.1 mn from EUR ...  positive
4     Operating profit totalled EUR 21.1 mn , up fro...  positive
...                                                 ...       ...
2259  Operating result for the 12-month period decre...  negative
2260  HELSINKI Thomson Financial - Shares in Cargote...  negative
2261  LONDON MarketWatch -- Share prices ended lower...  negative
2262  Operating profit fell to EUR 35.4 mn from EUR ...  negative
2263  Sales in Finland decreased by 10.5 % in Januar...  negative

[2264 rows x 2 columns]

In [29]:
train, test = train_test_split(df, test_size=0.2)

In [30]:
idf_vectorizer = TfidfVectorizer(stop_words='english', ngram_range=(1, 2))

In [31]:
idf_X_train = idf_vectorizer.fit_transform(train['text'])
idf_X_test = idf_vectorizer.transform(test['text'])

In [32]:
y_test =test['label'].replace(['negative', 'neutral', 'positive'], [0, 1, 2])
y_train=train['label'].replace(['negative', 'neutral', 'positive'], [0, 1, 2])

In [33]:
lan_model = BernoulliNB()
lan_model.fit(idf_X_train, y_train)

BernoulliNB()

In [34]:
lan_model.score(idf_X_test, y_test)

0.7086092715231788